/** Import link section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*! Universal start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif ;
}
html{
 font-size: 62.5%;
 /* 1rem=10px */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p,
li,
a,
label,
button {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*! Universal end*/

/*? theme */

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  /* --bg-color: #ffffff; */
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
}

/* ? theme end */

/*! nav css start  */

.nav-area{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.nav-container{
    max-width: 140rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;

}
.nav-area .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 2.4rem;
}
.nav-container .navbar ul {
    display: flex;
    gap: 3.2rem;
    

    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.6rem;
        position: relative;

        &::after{
            content: "";
            position:absolute;
            bottom:-0.2rem;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid var(--main-color);
            transition: all 0.3s linear ;

        }

       


    }
     & li a:hover:after{
            width: 100%;
        }
}

/*! nav css end  */

/* hero section start */
main {
  position: relative;
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
}
.section-main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
  align-items: center;
  padding-left: 4rem;
}

.section-main--img img{
  width: 90%;
  height: auto;
  transform: scaleX(-1);
}
.section-main--text{
  
  & .section-main--subheading{
    color: var(--hero-heading-color);
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 0.5rem;
    font-weight: 700;

  }
  & .section-main--heading{
    font-family: "Jost";
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    color: var(--hero-heading-color);
    font-weight: bold;
  }
  & .section--main--about{
    color: var(--white-color);
    letter-spacing: 0.1rem;
    margin: 2rem 0 4.2rem 0;
  }
  & .section-main--button{
   display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: var(--main-color);
  
  border-radius: 0.6rem;
  & .btn{
    color: var(--white-color);
  }
  }

}

/*? hero section end */

/* * about section start */

.section-about {

  max-width: 140rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;

}
.section-about--heading{
  padding-left: 3.5rem;

  & h2 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }
  
}

.section-about--card{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  /* align-items: center; */
}
.section-about--card img{
  width: 14rem;
  height: auto;
  background-color: var(--supporting-color);
  border-radius: 50%;
  transition: all 0.3s linear;
}


 .cardimg > img:hover{
  transform: rotate(360deg);
   background: linear-gradient(to right, #0575e6, #021b79);
}
.section-about--carding{
  padding: 2.5rem;
  text-align: center;

  & h3{
    font-size: 2rem;
  }

}
/* * about section end */


/* !courses section start */
.section-course{
  max-width: 140rem;
}

/* !courses section end */

/* shape divder */
.custom-shape-divider-bottom-1759337547 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1759337547 svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 61px;
}

.custom-shape-divider-bottom-1759337547 .shape-fill {
    fill: #FFFFFF;
}